<!--
File: app.component.html
Author: Lukács Eszter
Copyright: 2022, Lukács Eszter
Group: Szoft II/N
Date: 2022-11-29
Github: https://github.com/lukacseszter/
Licenc: GNU GPL
-->

   <div class="bg-boxorange container mt-5 text-center">
    <h2>Telek területszámítás</h2>
   
    <div class="lotCalc">

      <div class="mb-2 m-2">
        <label for="aSide" class="form-label">A oldal</label>
        <input type="text" class="form-control"
        [(ngModel)]="aSide" id="aSide">
      </div>

      <div class="mb-2  m-2">
        <label for="bSide" class="form-label">B oldal</label>
        <input type="text" class="form-control"
        [(ngModel)]="bSide" id="bSide">

      </div>

      <button class="btn btn-buttonorange " style="--bs-btn-padding-y: .40rem; --bs-btn-padding-x: 4rem; --bs-btn-font-size: 1rem"
      (click)="calcArea()">Számít</button>

      <div class="mb-2 m-2">
        <label for="result">Terület</label>
        <input type="text" class="form-control"
        [(ngModel)]="result">
   
      </div>
    </div>
    
    <div class="text-center">
      Lukács Eszter, Szoft II/N, 2022-11-29
    </div>
   </div>